<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<h2>Adelakun Oluwapelumi</h2>
<p>Regenerative and renewable energy engineer</p>

<p><em>I am interested in data science because of continues to shape our world today and build a sustainable future. I am excited about its technicality and attention to detail, which has revolutionized sectors such as education, agriculture, marketing, health care, travel and transportation, etc. and continues solving some of the world's 
most significant challenges through reasonable data collection and postulation of the most efficient solutions to these problems</em></p>

<h3>My code is meant to determine the sum of two integers</h3>

In [7]:
print(1+1)

2

<hr>
<ul>
    <li>Random one</li>
    <li>Random two</li>
    <li>Random three</li>
</ul>
<ol>
    <li>Random one</li>
    <li>Random two</li>
    <li>Random three</li>
</ol>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
    </tr>
    <tr>
        <td>Alex</td>
        <td>27</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Mary</td>
        <td>58</td>
        <td>Feale</td>
    </tr>
    <tr>
        <td>Billy</td>
        <td>33</td>
        <td>Male</td>
    </tr>
</table>